nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    background-color:rgba(128, 128, 128, 0.427)
}
ul{
    display:flex;
    list-style:none;
}
li{
    margin-left: 3rem;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: orangered;
    font-weight: bold;
}
